@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root{
    --font-inter: 'Inter', 'sans-serif';
    --color-bg: #f5f5f7;
    --color-iconLight: #6e6e73;
    --color-black: #1d1d1f;
    --color-lightWhite: #aeaeb2;
    --color-grey: #f0f0f2;
    --color-border: #e8e8ed;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: var(--color-bg);
    font-family: var(--font-inter);
}


.bottom-drawer{
    position: fixed;
    bottom: 0;
    transform: translateY(100%);
    transition: transform 0.3s ease;
    z-index: 2;
}

.bottom-drawer.open{
    background: crimson;
    transform: translateY(0);
}

.hidden{
    display: none;
}


/* NAVBAR */
nav{
    padding: 0.5rem 1.2rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(252, 252, 253, 0.61);
    backdrop-filter: blur(20px);
    border-bottom: 1px solid #e0e0e0;
}
.nav-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-wrapper{
    display: flex;
    align-items: center;
    gap: 0.20rem;
}

.logo-wrapper img{
    width: clamp(2.1rem, 2.2rem, 2.4rem);
}

.logo-wrapper a{
    color: black;
    text-decoration: none;
    margin-top: 5px;
    color: var(--color-lightWhite);
}

.logo-wrapper b{
    color: var(--color-black);
}

.right-nav{
    font-size: 1.25rem;
    display: flex;
    gap: 1.2rem;
    margin-top: 5px;
    color: var(--color-iconLight);
}

/* SEARCH SECTION */
.searchDiv{
    background: var(--color-grey);
    display: flex;
    align-items: center;
    border-radius: 999px;
    padding: 0.75rem 1rem;
    color: var(--color-lightWhite);
    gap: 7px;
    margin-top: 0.5rem;
    animation: slidedownNav 0.3s ease;
}

.searchDiv.slideup{
    animation: slideupNav 0.5s ease ;
}

.searchDiv:active{
    border: 1px solid black;
}

.searchBar{
    background: none;
    border: none;
    outline: none;
    flex: 1;
}

.searchBar::placeholder{
    color: var(--color-lightWhite);
}

.selected{
    border: 1px solid black;
    background: white;
    box-shadow: 0 0 0 3px rgba(0, 0, 0, .07);
}

/* SEARCH DIV ANIMATION */
@keyframes slidedownNav{
    0%{
        transform: translateY(-20px);
        opacity: 0;
    }

    100%{
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideupNav{
    0%{
        transform: translateY(0);
        opacity: 1;
    }

    100%{        
        transform: translateY(-20px);
        opacity: 0;
    }
}


/* MAIN */
main{
    padding: 3.2rem 1.2rem;
}

/* CATEGORY */
.category-container{
    display: flex;
    gap: 0.75rem;
    padding: 1rem 0 1.2rem;
    overflow-x: auto;

}

.category-container::-webkit-scrollbar{
    display: none;
}

.cate-btn{
    padding: 0.5rem 1.2rem;
    border-radius: 999px;
    font-size: 0.8rem;
    white-space: nowrap;
    color: var(--color-iconLight);
    border: 1px solid var(--color-border);
    background: #fff;
    font-weight: bold;
    text-transform: capitalize;
}

.active{
    background-color: var(--color-black);
    color: white;
    box-shadow: 0 1px 3px rgba(0,0,0,.04);
    border-color: var(--color-black);
}


/* MAIN PRODUCTS */
.products-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 0.75rem;
}

.card{
    display: flex;
    flex-direction: column;
    border: 1px solid var(--color-border);
    border-radius: 16px;
    background: white;
    overflow: hidden;
}


.upperDiv{
    position: relative;
    display: flex;
    justify-content: center;
    background-color: var(--color-grey);
    padding: 1.25rem;
    aspect-ratio: 1/1;
}

.productImg{
    width: 80%; 
    max-height: 80%;
    object-fit: contain;
}

.upper-category{
    position: absolute;
}


/* .lowerDiv{
    min-height: 40%;
} */










/* remove product from cart animation */
.singleCartProduct{
    transition: transform 0.4s ease-in, opacity 0.3s ease-in;
}

.removeCartProduct{
    transform: translateX(-50%);
    opacity: 0;
}

.fixed-cart{
    position: fixed;
    bottom: 25px;
    right: 25px;
}

.cart-wrapper{
    display: inline-flex;
}

.stars, .drawer-stars{
    color: #ff9500;
}